<launch>
    <arg name="namespace" default="cgras" doc="The namespace for the project" />
    <arg name="detector" default="false" />
    <arg name="detector_aux_server" default="false" />
    <arg name="coordinator" default="false" />
    <arg name="coordinator_aux_server" default="false" />
    <arg name="cgras_data_folder" default="/home/qcr/cgras_data" />

    <group ns="$(arg namespace)">
        <param name="detector" type="boolean" value="$(arg detector)" /> 
        <param name="detector_aux_server" type="boolean" value="$(arg detector_aux_server)" /> 
        <param name="coordinator" type="boolean" value="$(arg coordinator)" /> 
        <param name="coordinator_aux_server" type="boolean" value="$(arg coordinator_aux_server)" /> 

        <param name="cgras_data_folder" type="string" value="$(arg cgras_data_folder)" />

        <!-- launch the detector node -->
        <group if="$(arg detector)">
            <node pkg="cgras_detector" type="run_server.py" name="cgras_detector_node" output="log">
            </node>
        </group>

        <!-- launch the aux server of the detector-->
        <group if="$(arg detector_aux_server)">
            <node pkg="cgras_detector" type="run_aux_server.py" name="detector_aux_server_node" output="log">
            </node>
        </group>

        <!-- launch the coordinator node -->
        <group if="$(arg coordinator)">
            <node pkg="cgras_coordinator" type="run_server.py" name="cgras_coordinator_node" output="log">
            </node>
        </group>

        <!-- launch the image server -->
        <group if="$(arg coordinator_aux_server)">
            <node pkg="cgras_coordinator" type="run_aux_server.py" name="coordinator_aux_server_node" output="log">
            </node>
        </group>

    </group>

</launch>   